<div class="footer-con">
  <div class="footer-inside">
    <div class="footer">
      <div class="footer-items">
        <div class="footer-item">
          <div>
            <h2>About Us</h2>
          </div>
          <div>
            <ul>
              <li>
                <a >
                  <i class="fa fa-users" aria-hidden="true"></i>
                  Agents
                </a>
              </li>
              <li>
                <a >
                  <i class="fa fa-map-pin" aria-hidden="true"></i>
                  Areas
                </a>
              </li>
              <li>
                <a >
                  <i class="fa fa-building" aria-hidden="true"></i>
                  Company
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-item">
          <div>
            <h2>Follow Us</h2>
          </div>
          <div>
            <ul class="icon-list">
              <li><a href="https://twitter.com/sengodstar" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://web.facebook.com/godstar.gerrald" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCSfTFqyD5D-kf0mVwNFTXoA?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-item">
          <div>
            <h2>Call Us</h2>
          </div>
          <div>
            <ul>
              <li>
                <a >
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  1234567890
                </a>
              </li>
              <li>
                <a >
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  1234567890
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="copy-text">
          <p>&copy; Houze, All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>
