<div class="footer-con">
  <div class="footer-inside">
    <div class="footer">
      <div class="footer-items">
        <div class="footer-item">
          <div>
            <h2>About Us</h2>
          </div>
          <div>
            <ul>
              <li><a href="#">Agents</a></li>
              <li><a href="#">Areas</a></li>
              <li><a href="#">Company</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-item">
          <div>
            <h2>Follow Us</h2>
          </div>
          <div>
            <ul class="icon-list">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-item">
          <div>
            <h2>Call Us</h2>
          </div>
          <div>
            <ul>
              <li><a href="#">1234567890</a></li>
              <li><a href="#">1234567890</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="copy-text">
          <p>&copy; Houze All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>
