.hold {
  width: 70%;
  margin: auto;
  padding: 2rem 0;
}

.over {
  padding: 3rem 0;
  background-image: url(https://previews.123rf.com/images/satariel/satariel1008/satariel100800133/7627759-grassy-field-conceptual-image-grassy-field-in-summer-.jpg);
}

.center {
  text-align: center;
  margin: 2rem 0;
}

.users {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 40%;
}
