.collection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 30%;
}


.text-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
