<div class="container">
  <div class="intro-con">
    <div class="intro-div">
        <div class="intro-header">
          <div>
            <h1>Make Yourself Comfortable</h1>
          </div>
          <div>
            <p><a href="#">Get Started</a></p>
          </div>
        </div>
        <div class="action-div">
          <div class="looking">
            <div>
              <p>Looking for a house?</p>
            </div>
            <div class="rent">
              <input type="submit" value="Rent a House" class="rent-btn">
            </div>
          </div>
          <div class="give">
            <div>
              <p>Have a house you want to rent out?</p>
            </div>
            <div class="rent-out">
              <input type="submit" name="" id="tenant-btn" value="Get a Tenant">
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="latest">
    <h2>Latest Listings</h2>
  </div>
  <div class="images-con">
    <div class="all-images" *ngIf="availables">
      <div class="images-div" *ngFor="let house of availables">
        <a [routerLink]="['/houses', house.id]">
          <div class="d-image">
            <img [src]="house.src" alt="Image of a House">
          </div>
          <div>
            <div class="details">
              <p class="text-truncated">Price: {{ house.price }}</p>
              <p class="text-truncated"><strong color="primary">Location</strong>: {{ house.location }}</p>
              <p class="text-truncated"><strong>Description</strong>: {{ house.description }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="more">
    <h2><a href="#">See more</a></h2>
  </div>

  <div class="ceo-section">
    <div class="flexy-display">
      <div class="ceo">
        <div class="ceo-image">
          <img src="https://res.cloudinary.com/rumplestiltskin/image/upload/v1566547682/my-photo/official_wvyphq.png" alt="CEO of Houze">
        </div>
        <div>
          <h2>Ogbara Godstar</h2>
          <p>CEO Houze</p>
        </div>
      </div>
      <div class="message">
        <div>
          <h2>Our Mission</h2>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis iste moll
            itia quae distinctio ad voluptatibus reiciendis quis amet, eveniet rerum repe
            llat maxime consequuntur expedita? Consequuntur minima quas veritatis at maxime
            eius illum esse corrupti natus sint! Magni, totam quidem laboriosam commodi dolore s
            unt corporis? Ipsum debitis quod cupiditate commodi iste explicabo soluta quia consequatur
            dolorem? Adipisci maxime sed hic distinctio provident aperiam molestiae iusto aliquid amet nemo
            modi dolores voluptas consequuntur facilis consectetur optio atque eum harum commodi, quod fuga
            voluptate sequi placeat. Cum inventore quam eum, libero temporibus maxime pariatur,</p>
        </div>
      </div>
    </div>
  </div>
</div>
