<div class="container">
  <div class="intro-con">
    <div class="intro-div">
        <div class="intro-header">
          <div>
            <h1>Make Yourself Comfortable</h1>
          </div>
          <div>
            <p><a href="#">Get Started</a></p>
          </div>
        </div>
        <div class="action-div">
          <div class="looking">
            <div>
              <p>Looking for a house?</p>
            </div>
            <div class="rent">
              <input type="submit" value="Rent a House" class="rent-btn">
            </div>
          </div>
          <div class="give">
            <div>
              <p>Have a house you want to rent out?</p>
            </div>
            <div class="rent-out">
              <input type="submit" name="" id="tenant-btn" value="Get a Tenant">
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="latest">
    <h2>Latest Listings</h2>
  </div>
  <div class="images-con">
    <div class="all-images">
      <div class="image-div">
        <div>
          <img src="https://res.cloudinary.com/rumplestiltskin/image/upload/v1573228142/House/12_t55w9y.jpg" alt="Image">
        </div>
      </div>
      <div class="image-div">
        <div>
          <img src="https://res.cloudinary.com/rumplestiltskin/image/upload/v1573228142/House/8_yjkda6.jpg" alt="Image">
        </div>
      </div>
      <div class="image-div">
        <div>
          <img src="https://res.cloudinary.com/rumplestiltskin/image/upload/v1573228141/House/9_mkpmg0.jpg" alt="Image">
        </div>
      </div>
      <div class="image-div">
        <div>
          <img src="https://res.cloudinary.com/rumplestiltskin/image/upload/v1573228140/House/11_nocmu3.jpg" alt="Image">
        </div>
      </div>
      <div class="image-div">
        <div>
          <img src="https://res.cloudinary.com/rumplestiltskin/image/upload/v1573228139/House/10_rlugcj.jpg" alt="Image">
        </div>
      </div>
      <div class="image-div">
        <div>
          <img src="https://res.cloudinary.com/rumplestiltskin/image/upload/v1573228139/House/17_iju9uz.jpg" alt="Image">
        </div>
      </div>
    </div>
  </div>
  <div class="more">
    <h2><a href="#">See more</a></h2>
  </div>
</div>
