* {
  box-sizing: border-box;
}

.images-div {
  width: 30%;
  margin: 1rem 0;
}
.all-images {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details {
  width: 100%;
  padding: 0.5rem;
}

.images-div a {
  text-decoration: none;
  color: #222;
}

.images-con {
  padding: .5rem;
}

.d-image {
  width: 100%;
  margin: auto;
}

.images-div:hover {
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 8px;
  cursor: pointer;
}

.details-div:hover {
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 8px;
  cursor: pointer;
}

.details .text-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.images-div img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.38);
}

.intro-div {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem;
}

.intro-header {
  width: 45%;
  padding: 2rem 0;

}

.intro-header h1 {
  font-size: 48px;
}

.action-div {
  width: 45%;
  padding: 2rem 0;
}

.action-div input {
  width: 60%;
  padding: .5rem;
  border-radius: 8px;
  font-size: 1.5rem;
}

.latest,
.more {
  width: 100%;
  padding: 1rem;
  margin: auto;
}

.rent-btn {
  background-color: #8bc34a;
}

#tenant-btn {
  background-color: #009688;
}

p {
  font-size: 20px;
}

.flexy-display {
  display: flex;
  justify-content: space-between;
}

.ceo-section {
  padding: 1rem;
}

.ceo {
  width: 35%;
  text-align: center;
}

.ceo img {
  width: 100%;
  border-radius: 20px;
}

.message {
  width: 55%;
  text-align: justify;
}

@media screen and (max-width: 900px) {
  .action-div input {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .images-div {
    width: 45%;
  }
}

@media screen and (max-width: 750px) {
  .intro-header h1 {
    font-size: 36px;
  }

  .action-div input {
    padding: .3rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .all-images {
    width: 100%;
  }

  .images-con {
    padding: 2rem;
  }

  .intro-con {
    width: 100%;
    /* padding: 2rem; */
  }

  .image-divs {
    width: 48%;
  }
}

@media screen and (max-width: 500px) {
  .flexy-display {
    flex-direction: column;
  }

  .ceo,
  .message {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .images-div {
    width: 100%;
    margin: auto;
  }

  .intro-div {
    flex-direction: column;
    text-align: center;
  }

  .intro-header,
  .action-div {
    width:80%;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .images-div {
    width: 100%;
    margin: 1rem 0;
  }
}

