<div class="container">
  <div class="intro-con">
    <div class="intro-div">
        <div class="intro-header">
          <div>
            <h1>Make Yourself Comfortable</h1>
          </div>
          <div>
            <p><a href="#">Get Started</a></p>
          </div>
        </div>
        <div class="action-div">
          <div class="looking">
            <div>
              <p>Looking for a house?</p>
            </div>
            <div class="rent">
              <input type="submit" value="Rent a House" class="rent-btn">
            </div>
          </div>
          <div class="give">
            <div>
              <p>Have a house you want to rent out?</p>
            </div>
            <div class="rent-out">
              <input type="submit" name="" id="tenant-btn" value="Get a Tenant">
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="latest">
    <h2>Latest Listings</h2>
  </div>
  <div class="images-con">
    <div class="all-images" *ngIf="availables">
      <div class="images-div" *ngFor="let house of availables">
        <a href="#">
          <div>
            <img [src]="house.src" alt="Image of a House">
          </div>
          <div>
            <div class="details">
              <p class="text-truncated">Price: {{ house.price }}</p>
              <p class="text-truncated"><strong color="primary">Location</strong>: {{ house.location }}</p>
              <p class="text-truncated"><strong>Description</strong>: {{ house.description }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="more">
    <h2><a href="#">See more</a></h2>
  </div>
</div>
