* {
  box-sizing: border-box;
}

.bg {
  background: url(https://res.cloudinary.com/rumplestiltskin/image/upload/v1574974757/Beautiful-Single-Leaf-1920-x-1200_2_of4qh5.jpg);
}

.bg:hover {
  background-size: 105%;
  background-position: top;
  transition: 5s;
}

.no-bd {
  border: none;
  color: #8aaae5;
}

.card-body.links a {
  margin: .5rem;
}

.no-bg {
  background: #8aaae5 !important;
  margin: 3.5rem 0;
}

.jumbotron {
  padding: 10rem 2rem;
  background: none !important;
  margin-bottom: 0;
}

.hd {
  background-color: #8aaae5;
  color: #fff;
}

.pr {
  color: #fff !important;
  background-color: #988ae5fa;
}

.fs {
  font-size: 1.5rem;
}

.parent {
  /* width: 45%; */
  /* margin: 20px; */
  /* height: 300px; */
  border: 1px solid blue;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  background-image: url(https://res.cloudinary.com/rumplestiltskin/image/upload/v1566547682/my-photo/official_wvyphq.png);
}

.on-hover {
  display: none;
  font-size: 35px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
  display: block;
}

.parent:hover .on-hover, .parent:focus .on-hover {
  display: block;
}


.images-div {
  width: 30%;
  margin: 1rem 0;
}
.all-images {
  width: 100%;
  margin: auto;
  color: #8aaae5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#see-more {
  color: #8aaae5;
}

.images-con {
  padding: .5rem;
  margin: 2rem 0;
}

.details-div:hover {
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 8px;
  cursor: pointer;
}

.text-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.images-div img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.38);
}

img:hover {
  background-size: 150%;
  cursor: pointer;
}

.intro-div {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem;
}

.intro-header {
  width: 45%;
  padding: 2rem 0;

}

.intro-header h1 {
  font-size: 48px;
}

.action-div {
  width: 45%;
  padding: 2rem 0;
}

.action-div input {
  width: 60%;
  padding: .5rem;
  border-radius: 8px;
  font-size: 1.5rem;
}

.latest,
.more {
  width: 100%;
  padding: 1rem;
  margin: auto;
  color: #8aaae5;
}

.rent-btn {
  background-color: #8bc34a;
}

#tenant-btn {
  background-color: #009688;
}

p {
  font-size: 20px;
}

.flexy-display {
  display: flex;
  justify-content: space-between;
}

.ceo-section {
  padding: 1rem;
}

.ceo {
  width: 35%;
  text-align: center;
}

.ceo img {
  width: 100%;
  border-radius: 20px;
}

.message {
  width: 55%;
  color: grey;
  text-align: justify;
}

@media screen and (max-width: 900px) {
  .action-div input {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .images-div {
    width: 45%;
  }
}

@media screen and (max-width: 750px) {
  .intro-header h1 {
    font-size: 36px;
  }

  .action-div input {
    padding: .3rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .all-images {
    width: 100%;
  }

  .images-con {
    padding: 2rem;
  }

  .intro-con {
    width: 100%;
    /* padding: 2rem; */
  }

  .image-divs {
    width: 48%;
  }
}

@media screen and (max-width: 500px) {
  .flexy-display {
    flex-direction: column;
  }

  .ceo,
  .message {
    width: 100%;
  }

  .jumbotron {
    padding: 5rem 1rem;
  }
}

@media screen and (max-width: 450px) {
  .images-div {
    width: 100%;
    margin: auto;
  }

  .intro-div {
    flex-direction: column;
    text-align: center;
  }

  .intro-header,
  .action-div {
    width:80%;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .images-div {
    width: 100%;
    margin: 1rem 0;
  }
}

