* {
  box-sizing: border-box;
}

.over-con {
  padding: 4rem 2rem;
  background: #2e303e;
}

.head {
  padding: .5rem;
  background: #212624;
  color: #54678f;
  border-radius: 4px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.inner-con {
  width: 70%;
  max-width: 450px;
  margin: auto;
  padding: .5rem;
  background: #9199be;
}

.example-container > * {
  width: 100%
}

.example-container button {
  padding: .5rem;
  width: 40%;
  margin: auto;
  background: #33333385;
  color: #fff;
  font-size: 24px;
}

.example-container button:hover {
  background: #333;
  cursor: pointer;
}

.action {
  text-align: center;
  padding: .5rem 0;
}

@media screen and (max-width: 650px) {
  .inner-con {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .inner-con {
    width: 100%;
  }
}

